* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(/images/72849-abogados.jpg);
  background-position: center center;
  background-size: auto;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

header nav {
  background-color: antiquewhite;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
header nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
}
header nav ul .item {
  padding: 20px;
}

main .left-side-index {
  margin: 0;
  width: 40%;
  position: absolute;
  left: 0%;
  height: 92%;
  background-color: rgba(194, 191, 191, 0.692);
}
main .left-side-index .logo-1 {
  position: absolute;
  top: 40%;
  left: 30%;
}

main .right-side-index {
  width: 60%;
  position: absolute;
  left: 40%;
  height: 92%;
  background-color: rgba(102, 98, 98, 0.692);
}
main .right-side-index .texto-presentacion {
  position: absolute;
  top: 15%;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: antiquewhite;
}
main .right-side-index .head-index {
  text-align: center;
}
main .right-side-index .text-index {
  text-align: center;
  padding: 20px;
}
main .right-side-index .redes {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0%;
  right: 1%;
}
main .right-side-index .bi {
  padding-right: 20px;
}

header nav ul .item:hover {
  background-color: rgba(32, 29, 29, 0.342);
}

main .head-lafirma {
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: antiquewhite;
}
main .la-firma-p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  color: antiquewhite;
}

main .right-side-index {
  width: 60%;
  position: absolute;
  left: 40%;
  background-color: rgba(102, 98, 98, 0.913);
  display: flex;
}
main .right-side-index .texto-contacto {
  position: absolute;
  top: 30%;
  left: 25%;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}
main .right-side-index .texto-contacto .head-contacto {
  text-align: center;
}
main .right-side-index .texto-contacto .text-contacto {
  text-align: center;
}
main .right-side-index .redes-sociales-contacto {
  position: absolute;
  top: 55%;
  left: 40%;
}

main .head_equipo {
  background-color: rgb(102, 98, 98);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .head_equipo a {
  padding-left: 150px;
  padding-right: 100px;
}
main .head_equipo a .logo-1 {
  width: 150px;
}
main .head_equipo h1 {
  color: #faebd7;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
}
main .container-info {
  background-color: rgba(182, 182, 182, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .container-info .member {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(44, 44, 44);
  padding-right: 100px;
  padding-left: 150px;
  text-align: justify;
}
main .container-info .member-pic {
  padding-right: 150px;
  padding-left: 50px;
  width: 400px;
}
main .container-info-1 {
  background-color: rgba(102, 98, 98, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .container-info-1 .member-1 {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  padding-right: 150px;
  padding-left: 150px;
  text-align: justify;
}
main .container-info-1 .member-pic-1 {
  padding-right: 50px;
  padding-left: 150px;
  width: 400px;
}

/*# sourceMappingURL=style.css.map */
