/* ESTILOS GENERALES*/
body {
    background-image: url(/images/72849-abogados.jpg);
    background-position: center center;
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*ESTILOS DEL DESKTOP VIEW*/

@media only screen and (min-width: 1025px){
    /*-----------------------------------------------------------------------------------------------------------------------*/

    /*ESTILOS DEL NAVBAR*/
    /*NAVBAR GENERAL*/
   .nav-list{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    padding: 15px;
    margin: 0px;
    border: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
   }

/*NAV DE LA PESTAÑA LA FIRMA*/
   .nav-lafirma {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}
.nav-lafirma:hover{
    background-color: rgba(32, 29, 29, 0.342);
}

/*NAV DE LA PESTAÑA EQUIPO*/
header .nav-equipo{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}
header .nav-equipo:hover{
    background-color: rgba(32, 29, 29, 0.342);
}

/*NAV DE LA PESTAÑA NOSOTROS*/
header .nav-nosotros{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}
header .nav-nosotros:hover{
    background-color: rgba(32, 29, 29, 0.342);
}
/*NAV DE LA PESTAÑA SERVICIOS*/

header .nav-servicios{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}
header .nav-servicios:hover{
    background-color: rgba(32, 29, 29, 0.342);
}

/*NAV DE LA PESTAÑA CONTACTO*/
header .nav-contacto{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}
header .nav-contacto:hover{
    background-color: rgba(32, 29, 29, 0.342);
}

header .menu_hamburguesa{
    display: flex;
    padding: 25px;
    background-color: red;
    display: none;
}

/*HEADER FIN */

/*LOGO A LA IZQUIERDA */
.logo_index{
    width: 40%;
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: rgba(194, 191, 191, 0.692);
}

.logo-1{
   position: absolute;
   top: 40%;
   left: 30%
}
/* TEXTO A LA DERECHA */
.right-side{
    width: 60%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-color: rgba(102, 98, 98, 0.692);
    display: flex;
}

.texto-presentacion{
    position: absolute;
    top: 20%;
    text-align: left;
    padding: 50px;
}

.texto-presentacion{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: antiquewhite;
}

/* REDES SOCIALES */

.redes{
    position: absolute;
    bottom: 1%;
    right: 1% 
}

.bi{
    padding-right:20px ;
}