$fuente-texto: Arial, Helvetica, sans-serif;
$color-fondo: black;

header{
        
    nav{
        background-color: antiquewhite;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin:0;
            li {
                a {
                    text-decoration: none;
                    color: $color-fondo;
                    font-family: $fuente-texto;
                }
            }
            .item{
                padding: 20px;
            }
        }
    }
}