main {
        .left-side-index{
            margin: 0;
            width: 40%;
            position: absolute;
            left: 0%;
            height: 92%;
            background-color: rgba(194, 191, 191, 0.692);
            .logo-1{
                position: absolute;
                top: 40%;
                left: 30%;
            } 
        }
    }