$imagen-fondo: url(/images/72849-abogados.jpg);
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: $imagen-fondo;
    background-position: center center;
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
}