@media only screen and (min-width: 1025px){
    main{
        .rsi{
            .texto-contacto{
                position: absolute;
                top:30%;
                left:25%;
                font-family: Arial, Helvetica, sans-serif;
                color: antiquewhite;

                .head-contacto{
                    text-align: center;
                }
                .text-contacto{
                    text-align: center;
                }
            }
            .redes-sociales-contacto{
                position: absolute;
                top:55%;
                left:40%;
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    main{
        .rsi{
                .texto-contacto{
                    position: absolute;
                    top:30%;
                    left:25%;
                    font-family: Arial, Helvetica, sans-serif;
                    color: black;

                    .head-contacto{
                        text-align: center;
                    }
                    .text-contacto{
                        text-align: center;
                    }
                }
                .redes-sociales-contacto{
                    padding-top: 20px;
                    position: absolute;
                    top:55%;
                    left:40%;
                }
        }
    }
}